<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="AMOR Dependencies">
<locations>
<location path="${workspace_loc}/org.infai.amor.targetplattform/plugins" type="Directory"/>
</locations>
</target>
